<main>
  <section class="form-section">
    <img src="../../../assets/icons/logo.svg">
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <div class="btn-container">
      <button class="btn-primary"
              (click)="login()"
              [disabled]="disablePrimaryBtn">{{ primaryButtonText }}</button>
      <div class="divider">
        <div></div>
        <span>OR</span>
        <div></div>
      </div>
      <button class="btn-secondary" (click)="signup()">{{ secondaryButtonText }}</button>
    </div>
  </section>
  <section class="main-section">
    <img src="../../../assets/icons/main-ilustration.png">
  </section>
</main>
