<main>
  <section class="form-section">
    <img src="/src/assets/icons/logo.svg">
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <div class="btn-container">
      <button class="btn-primary">{{ primaryButtonText }}</button>
      <div class="divider">
        <div></div>
        <span>OR</span>
        <div></div>
      </div>
      <button class="btn-secondary">{{ secondaryButtonText }}</button>
    </div>
  </section>
  <section class="main-section">
    <h1>Yout Should, MoveIt!</h1>
    <img src="../../../assets/icons/main-ilustration.png">
  </section>
</main>
